:root {
  --dark-theme-bg: hsl(230, 17%, 14%);
  --dark-theme-card-bg: hsl(228, 28%, 20%);
  --dark-theme-header-bg: hsl(232, 19%, 15%);
  --dark-theme-text-color: hsl(228, 34%, 66%);
  --dark-theme-white-text: hsl(0, 0%, 100%);
  --light-theme-body-bg: hsl(0, 0%, 100%);
  --light-theme-card-bg: hsl(227, 47%, 96%);
  --light-theme-header-bg: hsl(225, 100%, 98%);
  --light-theme-grey-text: hsl(228, 12%, 44%);
  --light-theme-blue-text: hsl(230, 17%, 14%);
}

body {
  font-family: "Inter", sans-serif;
  background-color: hsl(230, 17%, 14%);
}
